.list-content{
	width: 800px;
	margin-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
}
.list-pic{
	width: 175px;
}
.thumbnail{
	margin: 25px 50px;
}
.pagination li a{
	color: #3e1934;
}
.bottom-nav{
	margin-top: 75px;
}
.pagination{
	border: 1px #1ABC9C solid;
}
.pagination li > a:hover, .pagination li > span:hover, .pagination li > a:focus, .pagination li > span:focus {
  color: #FFF;
  background-color: #1ABC9C;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #FFF;
  cursor: default;
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}
