*{
	margin: 0;
	padding: 0;
}
div:before, div:after {
  content: " ";
  display: table;
}


/* header */
#particleground{
	// background: url(../img/bg/c4.png);
	background-size: cover;
  width: 100%;
	height: 770px;
}
#my-header{
  width: 100%;
  height: 770px;
	margin-top: -770px;
}
#my-nav{
	background: #8C657C;
}
.my-navbar{
	margin-right: 400px;
}
#to-Top, #to-Video{
	color: #eee;
}
#form-bg{
	// background: #343986;
}
.form-control, .select2-search {
  border: 2px solid #b186b3 !important;
}
.navbar-form .btn:hover {
    background: #3e1934;
}
.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type=text], .select2-search input[type=text]:focus {
    border-color: #3e1934 !important;
}
#my-logo,#my-title{
	color: #eee;
}
#my-nav1,#my-nav2,#my-nav3{
	color: #eee;
}
#my-nav1:hover,#my-nav2:hover,#my-nav3:hover{
	background: #3e1934;
}
#Top{
	margin-top: 100px;
}

/* 搜索框 */
.main-search{
	margin-top: 80px;
}
.search-form{
	width: 400px !important;
}

/* 结果栏 */
.main-result{
	background: #eee;
	border: #777;
	border-radius: 10px;
}
.audience-result{
	margin-top: 10px;
	margin-left: 10px;

}
.audience-result a>span{
	font-size: 30px;
}
.audience-result hr{
	border: #888 1px solid;
}


/*footer*/
#my-footer{	
	margin-top: 100px;
	padding-bottom: 50px;
	color: #000;
	background: none;
}
#my-footer a{
	color: #000;
}