@font-face{
	font-family: "loveletter";
	scr:url('../fonts/MFQingShu/MFQingShu_Noncommercial-Regular.otf')format('opentype');
}
*{
	list-style: none;
	text-decoration: none;
	font-family: 'loveletter';
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #333;
}
::-moz-selection, ::selection {
	background: #3F3F3F;
	color: #fff;
	text-shadow: 0 -1px 0 #333;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	height: 80px;
	background-color: #6f6f6f;
	border: 0;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #3f3f3f;
}
body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  color: #6cf;
  line-height: 1.0;
  -webkit-font-smoothing: antialiased;
  min-width: 768px;
}


/* header */
#particleground{
	// background: url(../img/bg/c4.png);
	background-size: cover;
  width: 100%;
	height: 770px;
}
#my-header{
  width: 100%;
  height: 770px;
	margin-top: -770px;
}
#my-nav{
	background: #8C657C;
}
.my-navbar{
	margin-right: 400px;
}
.nav > li > a {
	color: #eee;
}
#form-bg{
	// background: #343986;
}
.form-control, .select2-search {
  border: 2px solid #b186b3 !important;
}
.navbar-form .btn:hover {
  background: #3e1934;
}
.form-group.focus .form-control, .form-control:focus, .form-group.focus .select2-search input[type=text], .select2-search input[type=text]:focus {
  border-color: #3e1934 !important;
}
#my-logo,#my-title{
	color: #eee;
}
#my-nav1,#my-nav2,#my-nav3{
	color: #eee;
}
#my-nav1:hover,#my-nav2:hover,#my-nav3:hover{
	background: #3e1934;
}
#Top{
	margin-top: 100px;
}
.my-swap { 
	position: relative; 
	overflow: auto; 
}
.my-swap li {
 list-style: none; 
}
.my-swap ul li {
 float: left; 
}
#my-swap1,#my-swap2,#my-swap3{
	background: none;
	color: #E19B91;
}
.jumbotron{
	background: #fff !important;
}
#my-swap1{
	vertical-align: middle;
	display: block;
}
#my-swap2{
	display: block;
	margin-top: 100px;
	color: #669;
}
#my-swap3{
	margin-top: 200px;
}
#id-Irvin:hover,#id-Demone:hover{
	border: 1px #6cf solid;
}


/* notice */
#notice-button{
	display: block;
	background: #8C657C;
	font-size: 25px;
	color: #FFF;
}
#notice-content{
	display: none;
	background: #8C657C;
	font-size: 20px;
	color: #FFF;
}
#notice-content p{
	padding: 5px 0 0 0;
}


/*list*/
.my-list{
	display: block;
	position: relative;
	width: 15%;
	height: 700px;
	transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	background-position: 0px 0px;
}
.my-list:hover{
	background-position: 0px -20px;
}
.dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/bg_dark.png) repeat;
	z-index: 2;
	opacity: 0.8;
	cursor：none;
}
.my-hover{
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	z-index: 3;
	background: none;
}
[id|=mylist] {
	float: left;
}
#mylist-anime{
	background-image: url(../img/pink.jpg);
	cursor:pointer;
}
#mylist-music{
	background-image: url(../img/rainy.jpg);
	cursor:pointer;
}
#mylist-entertainment{
	background-image: url(../img/water.jpg);
	cursor:pointer;
}
#mylist-technology{
	background-image: url(../img/storm.jpg);
	cursor:pointer;
}
#anime-content{
	display: block;
}
#music-content,#entertainment-content,#technology-content{
	display: none;
}
.my-content{
	float: left;
	height: 700px;
}
.video-pic-box{
	width: 159px;
  margin-top: 20px;
  display: inline-table;
}
.video-pic{
	width: 175px;
	margin-left: 74px;
	padding-bottom: 40px;
	float: left;
}
.pic-hover{
	display: none !important;
	margin: -100px 0 0 35px;
}
.thumbnail{
	transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
}
.thumbnail:hover > .pic-hover{
	display: block !important;
	cursor:pointer;
	z-index: 10;
}
.thumbnail:hover{
	z-index: 1;
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-o-filter: brightness(0.8);
	-ms-filter: brightness(0.8);
	filter: brightness(0.8);
}



/*content*/
@media screen and (max-width:1366px) {
	ul[id$="content"] {
		background: #eee;
		list-style: none;
	  overflow-x: hidden;
	  width: 40%;
	  position: relative;
	  min-width: 300px;
	  padding: 0;
	  margin: 0;
	}
}

/*footer*/
footer{
	background: none !important;
}
#my-footer{	
	height: 200px;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #8C657C;
	background-color: none;
	clear: both;
}
#my-footer a{
	color: #8C657C;
}

/* others */
.box-side{
	margin-top: 50px;
	width: 50%;
	height: 150px;
	text-align: center;
	float: left;
	overflow: hidden;
}
.box-side input{
	margin-left: -30px;
	margin-bottom: 10px;
}
#btn-1{
	margin-top: -20px;
	margin-left: 110px;
}
.login-btn:hover{
	background: #3e1934;
}
.register input{
	width: 400px;
	margin-top: 100px;
}
#btn-2{
	width: 400px;
	margin-top: 100px;
}