@font-face{
	font-family: "loveletter";
	scr:url('../fonts/MFQingShu_Noncommercial-Regular.otf')format('opentype');
}
body{
	font-size: 16px;
	max-width: 1180px;
	margin:0 auto;
	background: rgb(250,250,250);
	color: rgb(80,80,80);
}
div:before, div:after {
  content: " ";
  display: table;
}
*{
	list-style: none;
	text-decoration: none;
	font-family: 'loveletter';
}
a{
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #333;
}

/* main */
.myvideo-content{
	padding: 0 100px;
	margin: 100px auto 0 auto;
	width: 100%;
}

/* 播放 */
.container-1{
	border:1px solid rgb(226,226,226);
	height: 545px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 2px rgb(220,220,220);
}

.container-left{
	float: left;
	width: 680px;
	height: 520px;
}

.container-left video{
	width: 680px;
	/*height: 520px;*/
}

.barrage{
	position: absolute;
	top: 100px;
	left: 850px;
	color: rgb(255,255,255);
	font-size: 22px;
	z-index: 1;
	text-shadow: 1px 1px 1px #000000;
}

.barrage:hover{
	cursor: default;
}

.container-bottom{
	height: 25px;
	width: 100%;
	border-top: rgb(226,226,226);
	margin-top: -7px;
}

.video-bottom-left{
	float: left;
	border-right: 1px solid rgb(233,233,233);
	padding-top: -5px;
	width: 80px;
	height: 25px;
}

.container-bottom input[type="text"]{
	border: none;
	height: 23px;
	width: 527px;
	margin: 0px;
	box-shadow: 2px 2px 10px rgb(248,248,248) inset;
}

.container-bottom input[type="text"]:focus{
	box-shadow: 2px 2px 10px rgb(233,233,233) inset;
}

.container-bottom input[type="button"]{
	color: rgb(255,255,255);
	border: none;
	background: rgb(0,160,213);
	height: 25px;
	margin-left: -5px;
	width: 70px;
	float: right;
}

.container-bottom input[type="button"]:hover{
	background: rgb(50,179,211);
	cursor: pointer;
}

.container-right{
	float: right;
	border-left:2px solid rgb(226,226,226);
	height:520px;
	width: 296px;
}

.right-top{
	height: 74px;
	background: rgb(253,253,253);
	border-bottom: 2px solid rgb(226,226,226);
}

.right-top-left{
	float: left;
	width: 141px;
	border-right: 1px solid rgb(226,226,226);
	line-height: 20px;
	height: 66px;
	padding: 5px;
}

.right-top-right{
	float: left;
	padding: 5px;
	height: 64px; 
}

.right-bottom{
	height: 480px;
}

.right-bottom-top{
	height: 23px;
	background: rgb(248,248,248);
	width: 296px;
	font-size: 14px;
	color: rgb(106,106,106);
	border-bottom: 1px solid rgb(224,224,224);
}

.danmaku-table{
	position: absolute;
	font-size: 12px;
	margin-left: 0px;
	width: 300px;
	margin-top: -2px;
	height: 24px;
	overflow-y: scroll;
}

.danmaku-num{
	padding-left: 4px;
	width: 50px;
	color: rgb(0,0,0);
	height: 24px;
}

.danmaku-comment{
	padding-left: 3px;
	width: 154px;
	height: 24px;
}

.danmaku-time{
	padding-left: 4px;
	width: 100px;
	color: rgb(0,0,0);
	height: 24px;
	overflow: auto;
}

.danmaku-line:hover{
	background: rgb(204,225,255);
	height: 24px;
}

.right-bottom-top ul{
	font-size: 14px;
	list-style: none;
	margin: 0px;
	margin-left: -34px;
}

#video-time{
	width: 44px;
	margin-left: -6px;
}

#comment{
	width: 140px;
}

#send-time{
	width: 86px;
}

.right-bottom-top ul li{
	float: left;
	margin-right: 0px;
	height: 23px;
	padding-left: 6px;
}

.right-bottom-top ul li:hover{
	background: rgb(204,225,255);
	cursor: default;
}

.right-bottom-list{
	height: 93.722%;
	width: 296px;
	background: none repeat scroll 0% 0% #FFF;
	overflow: auto;
	position: relative;
}

.my-video{
	width: 80%;
	margin-top: 50px;
	margin-left: 10%;
	border: #888 1px solid;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #aaaaaa;	
}
.video-tag{
	padding: 5px 0px 0px 10px;
	margin-top: 30px;
	background: #fff;
	border: #999 1px solid;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #aaaaaa;
}



/* 弹幕画布 */
#danmaku{
	background: none;
	position: absolute;
	width: 680px;
	margin-top: 200px;
	margin-left: 100px;
}
.my-input{
	border: #444 1px solid;
	margin-left: 10%;
	width: 72.5%;
	border-radius: 5px;
}
.shoot{
	background: #999;
}
.shoot:hover{
	background: #777;
}

/* 弹幕遮挡 */
#occlusion{
	background: #FAFAFA;
	position: absolute;
	width: 100px;
	height: 680px;
	margin-top: 200px;
	margin-left: 0px;
}


/* 评论 */
.say-form .btn{
	margin-top: 2px;
}
.comment-content{
  font-size: 13px;
  display: block;
  width: auto;
  padding: 5px 15px 0px;
  white-space: normal;
  word-wrap: break-word;
}
.panel{
	box-shadow:2px 2px 3px #aaaaaa;
}
